<!DOCTYPE html>
<html>
<head>
    {{import "./module/head"}}
    <title>404 Not Found - {{$$.plugin.blog.title}}</title>
</head>
<body>

<div class="container">
    {{import "./module/header"}}

    <div class="content container">
        <div class="custom-not-found">
            <h1>404</h1>
            <p>校长说：你访问的地址被外星人吃掉了 ^_^</p>
        </div>
      </div>
</div>

{{import "module/footer"}}
</body>
</html>